<template>
  <div class="w-full wrapper-header flex items-center justify-evenly fixed z-50">
    <div class="w-full wrapper-header__content flex items-center justify-between">
      <div class="wrapper-logo flex justify-start items-center cursor-pointer" @click="refreshPage">
        <img src="@/assets/images/logo.svg" class="mr-[8px]" alt="logo">
        <span class="color-primary font-bold text-xl">OMEGA NETWORK</span>
      </div>
      <div class="wrapper-list flex justify-end items-center">
        <div class="screen-desktop">
          <div class="flex">
            <div
              v-for="item in list"
              :key="item.link"
              class="item-link ml-12 lg:ml-8 md:ml-6 cursor-pointer"
              :class="[pathName === item.keyword ? 'active': '',  keywordNeed === item.link ? 'active': '']"
            >
              <div
                class="dropdown-item relative flex justify-start"
                @mouseover="fnMouseOverLink(item.link)"
                @mouseleave="fnMouseLeaveLink"
                @click="fnRouterPage(item.keyword)"
              >
                <img src="@/assets/images/dot.svg" alt="dot">
                <span class="text-base">{{ item.name }}</span>
                <div class="absolute" style="min-width: 150px; height: 40px; top: 0"/>
                <div
                  class="absolute z-50"
                  style="top: 40px; left: -1rem; background: #181A20; min-width: 160px; border-radius: 0px 0px 12px 12px;"
                >
                  <div v-if="item.link === mouseOverLink">
                    <div v-for="itemC in item.child" :key="itemC.name" class="h-[48px] flex justify-start items-center">
                      <a
                        class="item-link-child ml-[24px] text-white"
                        :class="pathName === itemC.link ? 'active': ''"
                        :href="itemC.link"
                        target="_blank"
                        @click="clickOpenLink(itemC.link)"
                      >{{ itemC.name }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="screen-mobile hidden h-10">
          <div class="relative top-0">

            <button class="relative top-0 z-50" @click="toggleDropdown">
              <img v-if="!showDropdown" src="@/assets/images/button-dropdown.svg" alt="button dropdown">
              <img v-else src="@/assets/images/icon-close.svg" alt="button dropdown">
            </button>

            <div
              class="list-parent text-white absolute top-12 p-[16px] w-[200px]"
              :class="showDropdown ? 'show' : 'hide'"
              style="height: 100vh">

              <div
                class="btn-list" :class="item.link === '/' ? 'home' : item.link"
                v-for="(item, index) in list"
                :key="item.link">
                <div @click="fnRouterPageMb(item.keyword, index)" class="flex items-center mb-[24px]">
                  <img class="mr-1 opacity-0" src="@/assets/images/dot.svg" alt="dot">
                  <span class="text-btn-list">{{ item.name }}</span>
                </div>

                <div v-if="blockChildLink[index]" :class="blockChildLink[index] ? 'block-child-show' : 'block-child-hide'" class="flex flex-col gap-[48px]"
                     style="padding-top: 18px; padding-bottom: 18px;">

                  <div v-for="(itemC, indexC) in list[index].child" class="btn-list-child"
                       :class="itemC.link === $route.name ? 'active' : ''">
                    <p :class="indexC === list[index].child.length - 1 ? 'pb-0' : ''"
                       class="w-full pl-[22px]"
                       @click="fnRouterPageChildMb(itemC.link)"
                    >
                      {{ itemC.name }}
                    </p>
                  </div>


                </div>

              </div>

            </div>


            <div :class="showDropdown ? 'show' : 'hide'" class="block-transparent absolute top-12">

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  data() {
    return {
      pathName: '',
      list: [
        {name: 'Home', link: '/', keyword: '/'},
        {name: 'Mobile App', link: 'mobile-app', keyword: 'mobile-app'},
        {name: 'RoadMap', link: 'roadmap', keyword: 'roadmap'},
        {
          name: 'Papers',
          link: 'papers',
          keyword: '',
          child: [
            {name: 'White Paper', link: 'https://omeganetwork.gitbook.io/omega-network-whitepaper/'},
            {name: 'Pitch Deck', link: 'pitch_deck.pdf'}
          ]
        },
        {
          name: 'Network',
          link: 'network',
          keyword: '',
          child: [
            {name: 'Sale', link: 'https://app.omtch.com/'},
            {name: 'Omega Testnet', link: 'testnet'},
            {name: 'Omega Mainnet', link: 'mainnet'}
          ]
        },
        {name: 'About Us', link: 'about-us', keyword: 'about-us'},
        {name: 'Support', link: 'support', keyword: 'support'}
      ],
      showDropdown: false,
      showDropdownChild: [],
      mouseOverLink: '',
      blockChildLink: [],
      activeIndex: null,
      keywordNeed: '',
      indexKeyworkNeed: null
    }
  },
  watch: {
    $route(val) {
      this.pathName = val.name
      if (this.pathName === null || this.pathName === undefined || this.pathName === 'index') {
        this.pathName = '/'
      } else {
        this.pathName = this.$route.name
      }
      this.showDropdown = false
      this.blockChildLink[this.indexKeyworkNeed] = false
    },
    deep: true
  },
  created() {
    this.pathName = this.$route.name
    if (this.pathName === null || this.pathName === undefined || this.pathName === 'index') {
      this.pathName = '/'
    } else {
      this.pathName = this.$route.name
    }
    this.list.forEach((item, index) => {
      if (item.link === this.$route.name) {
        this.activeIndex = index
      }
    })
    this.list.forEach((item, index) => {
      if (item.child) {
        item.child.forEach((itemC, indexC) => {
          if (itemC.link === this.$route.name) {
            this.keywordNeed = item.link
            this.indexKeyworkNeed = index
            this.blockChildLink[this.indexKeyworkNeed] = true
          }
        })
      }
    })
  },
  mounted() {
    window.addEventListener('click', (e) => {
      if (e.target.className.includes('block-transparent')) {
        this.toggleDropdown()
      }
    })
    document.getElementsByClassName(this.keywordNeed)?.[0]?.classList.add('active')
    if (this.$route.name === 'index') {
      document.getElementsByClassName('btn-list home')[0]?.classList.add('active')
    } else {
      document.getElementsByClassName(`btn-list ${this.$route.name}`)?.[0]?.classList.add('active')
    }
  },
  methods: {
    toggleDropdown() {
      this.showDropdown = !this.showDropdown
    },
    toggleDropdownChild(index) {
      this.list[index]?.child?.forEach((item) => {
        this.showDropdownChild.push(false)
      })
      this.showDropdownChild[index] = !this.showDropdownChild[index]
    },
    fnMouseOverLink(name) {
      this.mouseOverLink = name
    },
    fnMouseLeaveLink() {
      this.mouseOverLink = ''
    },
    clickOpenLink(val) {
      this.mouseOverLink = ''
      if (val === 'testnet') {
        window.open(
          val,
          '_self'
        )
      } else if (val === 'mainnet') {
        window.open(
          val,
          '_self'
        )
      } else {
        window.open(
          val,
          '_blank'
        )
      }
    },
    refreshPage() {
      window.open(
        '/',
        '_self'
      )
    },
    fnRouterPage(link) {
      window.open(
        link,
        '_self'
      )
    },
    fnRouterPageMb(link, index) {
      let temp = this.blockChildLink[index]
      if (this.activeIndex === index) {
        if (link === 'roadmap' || link === '/' || link === 'mobile-app' || link === 'about-us' || link === 'support') {
          window.open(
            link,
            '_self'
          )
        } else {
          this.blockChildLink = []
          this.list.forEach((item) => {
            this.blockChildLink.push(false)
          })
          this.blockChildLink[index] = !temp
        }
      } else {
        if (this.list[index].child !== undefined) {
          this.blockChildLink = []
          this.list.forEach((item) => {
            this.blockChildLink.push(false)
          })
          this.blockChildLink[index] = true
        } else {
          if (link === '/') {
            this.$router.push('/')
            window.open(
              '/',
              '_self'
            )
          } else {
            window.open(
              link,
              '_self'
            )
          }
        }
      }
      this.activeIndex = index
    },
    fnRouterPageChildMb(val) {
      if (val === 'testnet') {
        window.open(
          val,
          '_self'
        )
      } else if (val === 'mainnet') {
        window.open(
          val,
          '_self'
        )
      } else {
        window.open(
          val,
          '_blank'
        )
      }
    }
  }
}
</script>
<style scoped lang="scss">
.wrapper-header {
  height: 72px;
  background: #181A20;
  backdrop-filter: blur(30px);
  transition: top .3s ease-in-out;
  z-index: 100;
}

.wrapper-list {
  .item-link {
    color: white;

    img {
      opacity: 0;
      margin-right: 4px;
    }
  }

  .item-link:hover {
    color: #FFB901;

    img {
      opacity: 1;
    }
  }

  .item-link-child:hover {
    color: #FFB901;

    img {
      opacity: 1;
    }
  }

  .item-link-child.active {
    color: #FFB901;

    img {
      opacity: 1;
    }
  }
}

.list-parent {
  background: #181A20;
  box-shadow: -6px 0px 8px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  right: -16px;

  .list-parent-item {
    display: flex;
    align-items: center;
    width: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 12px;

    img {
      opacity: 0;
    }

    .item-link:hover {
      transition: 0.5s ease-in-out;

      img {
        opacity: 1;
      }

      span {
        color: #FFB901;
      }
    }
  }

  .item-link-mb:hover {
    img {
      opacity: 1;
    }

    span {
      color: #FFB901;
    }
  }

  .active {

    img {
      opacity: 1;
    }

    span {
      color: #FFB901;
    }
  }
}

.item-link.active {
  img {
    opacity: 1;
  }

  span {
    color: #FFB901;
  }
}

.list-child {
  margin-top: 12px;
}

.list-child-item {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.list-child-item:first-child {
  margin-top: 12px;
  margin-bottom: 12px;
}

.list-child-item:last-child {
  padding-bottom: 0;
}

.list-child-item:hover {
  img {
    opacity: 1;
  }

  span {
    color: #FFB901;
  }
}

.block-child-show{
  transition: 0.75s ease-in-out;
  height: 100%;
}
.block-child-hide{
  transition: 0.75s ease-in-out;
  height: 0%;
}

.list-parent.show {
  transition: 0.75s ease-in-out;
  transform: translateX(0px);
}

.list-parent.hide {
  transform: translateX(200px);
  transition: 0.75s ease-in-out;
}

.block-transparent {
  height: 100vh;
  right: calc(200px - 16px);
  width: calc(100vw - 200px);
  background: transparent;
}

.block-transparent.show {
  display: block;
}

.block-transparent.hide {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .wrapper-header__content {
    max-width: calc(100% - 144px) !important;
    height: 48px;
  }
}

@media only screen and (min-width: 1366px) {
  .wrapper-header__content {
    max-width: 1222px;
    height: 48px;
  }
}

@media only screen and (max-width: 1366px) {
  .wrapper-header {
    height: 56px;
  }
  .wrapper-header__content {
    width: calc(100% - 32px);
    height: 40px;
  }
}

@media only screen and (min-width: 970px) {
  .screen-desktop {
    display: block;
  }
  .screen-mobile {
    display: none;
  }
}

@media only screen and (max-width: 970px) {
  .screen-desktop {
    display: none;
  }
  .screen-mobile {
    display: block;
  }
}

.btn-list {
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
}

.btn-list:hover img {
  opacity: 1;
}

.btn-list.active {
  .text-btn-list {
    color: #FFB901FF;
  }

  img {
    opacity: 1;
  }
}

.btn-list:hover .text-btn-list {
  color: #FFB901FF;
}


.btn-list-child:hover {
  color: #FFB901FF;
}

.btn-list-child.active {
  color: #FFB901FF;
}

</style>

