.animationTextInner {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg,
    #000 0%,
    #1a2c45 38.98%,
    #3d4a5d 41.01%,
    #677582 42.77%,
    #b2c3cc 44.51%,
    #dfeaee 46.04%,
    #fbfaf8 47.48%,
    #fce2d4 49.14%,
    #e5b299 51.53%,
    #a96f57 54.28%,
    #8b6656 56.29%,
    #1b3847 58.88%,
    #000 100%);
  background-size: 260%;
  background-repeat: no-repeat;
  animation: animationTextInner 2s ease-in-out;
}

@keyframes animationTextInner {
  from {
    background-position-x: 0;
    color: transparent;
    transform: translateX(-30px);
  }
  to {
    background-position-x: 100%;
    color: white;
    transform: translateX(0px);
  }
}

.animationTextInner1 {
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 260%;
  background: linear-gradient(90deg, #FFA114 0%, #8D35FC 35.94%, #35F0FC 70.31%, #FFA114 100%) no-repeat;
  animation: animationTextInner2 1.5s ease-in-out;
}

@keyframes animationTextInner1 {
  0% {
    background-position-x: 0;
    color: transparent;
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    background-position-x: 100%;
    color: white;
    opacity: 1;
    transform: translateX(0px);
  }
}


.animationTextInner2 {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg,
    #000 0%,
    #1a2c45 38.98%,
    #3d4a5d 41.01%,
    #677582 42.77%,
    #b2c3cc 44.51%,
    #dfeaee 46.04%,
    #fbfaf8 47.48%,
    #fce2d4 49.14%,
    #e5b299 51.53%,
    #a96f57 54.28%,
    #8b6656 56.29%,
    #1b3847 58.88%,
    #000 100%);
  background-size: 260%;
  background-repeat: no-repeat;
  animation: animationTextInner2 2s ease-in-out;
}

@keyframes animationTextInner2 {
  0% {
    background-position-x: 0;
    color: transparent;
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    background-position-x: 100%;
    color: white;
    opacity: 1;
    transform: translateX(0px);
  }
}

.animationHeader {
  animation: animationHeader 2s ease-in-out;
}

@keyframes animationHeader {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.letter {
  color: white;
}


.letter-character-1,
.letter-character-mb-1,
.letter-character-2,
.letter-character-2-1,
.letter-character-mb-2-1,
.letter-character-3,
.letter-character-4,
.letter-character-5,
.letter-character-6 {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity .8s ease-out, transform 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.letter-character-1.is-fadein,
.letter-character-mb-1.is-fadein,
.letter-character-2.is-fadein,
.letter-character-2-1.is-fadein,
.letter-character-mb-2-1.is-fadein,
.letter-character-3.is-fadein,
.letter-character-4.is-fadein,
.letter-character-5.is-fadein,
.letter-character-6.is-fadein {
  opacity: 1;
  transform: translateY(0px)
}


.content-translate {
  opacity: 0;
  transform: translateY(50px);
  transition: 1s ease-in-out;
}

.content-translate.is-fadein {
  opacity: 1;
  transform: translateY(0px)
}


.translate-linear-card-new-general,
.translate-linear-card-partner1,
.translate-linear-card-partner2,
.translate-linear-app1,
.translate-linear-app2,
.content-translate-page {
  opacity: 0;
  transform: translateY(50px);
  transition: 1s ease-in-out;
}

.translate-linear-card-new-general.is-fadein,
.translate-linear-card-partner1.is-fadein,
.translate-linear-card-partner2.is-fadein,
.translate-linear-app1.is-fadein,
.translate-linear-app2.is-fadein,
.content-translate-page.is-fadein {
  opacity: 1;
  transform: translateY(0px)
}


.wrapper-block-one-img {
  ._layer1 {
    bottom: 3.52%;
  }

  ._layer2 {
    left: 34.22%;
    top: 15.31%;
  }

  ._layer3 {
    top: 27.43%;
    left: 9%;
  }
}


@keyframes _layer2_2 {
  0% {
    top: 24%;
    left: 4.23%;
  }
  50% {
    top: 20%;
    left: 4.23%;
  }
  100% {
    top: 24%;
    left: 4.23%;
  }
}

@keyframes _layer2_3 {
  0% {
    top: 5.07%;
    left: 26.23%;
  }
  50% {
    top: 10.07%;
    left: 26.23%;
  }
  100% {
    top: 5.07%;
    left: 26.23%;
  }
}

@keyframes _layer2_4 {
  0% {
    top: 39.07%;
  }
  50% {
    top: 43.07%;
  }
  100% {
    top: 39.07%;
  }
}

@keyframes _layer2_5 {
  0% {
    top: 27.07%;
  }
  50% {
    top: 20.07%;
  }
  100% {
    top: 27.07%;
  }
}

@keyframes _layer2_6 {
  0% {
    top: 22.07%;
  }
  50% {
    top: 17.07%;
  }
  100% {
    top: 22.07%;
  }
}

@keyframes _layer2_7 {
  0% {
    top: 65.07%;
  }
  50% {
    top: 60.07%;
  }
  100% {
    top: 65.07%;
  }
}

@keyframes _layer2_8 {
  0% {
    top: 58.07%;
  }
  50% {
    top: 62.07%;
  }
  100% {
    top: 58.07%;
  }
}

@keyframes _layer2_9 {
  0% {
    top: 40.07%;
  }
  50% {
    top: 44.07%;
  }
  100% {
    top: 40.07%;
  }
}

.block-two-1 {
  .content {
    .content-left {

    }
  }

  ._layer_2-2 {
    top: 24%;
    left: 4.23%;
    animation: _layer2_2 3s linear infinite alternate;
  }

  ._layer_2-3 {
    top: 5.07%;
    left: 26.23%;
    animation: _layer2_3 3s linear infinite alternate;
  }

  ._layer_2-4 {
    top: 39.07%;
    left: 20.23%;
    animation: _layer2_4 3s linear infinite alternate;
  }

  ._layer_2-5 {
    top: 27.07%;
    left: 42%;
    animation: _layer2_5 3s linear infinite alternate;
  }

  ._layer_2-6 {
    top: 22.07%;
    left: 69.5%;
    animation: _layer2_6 3s linear infinite alternate;
  }

  ._layer_2-7 {
    top: 65.07%;
    left: 58.5%;
    animation: _layer2_7 3s linear infinite alternate;
  }

  ._layer_2-8 {
    top: 58.07%;
    left: 85.5%;
    animation: _layer2_8 3s linear infinite alternate;
  }

  ._layer_2-9 {
    top: 40.07%;
    left: 85.5%;
    animation: _layer2_9 3s linear infinite alternate;
  }
}


._layer-testnet_2-0 {
  top: 0;
  left: 0;
}

@keyframes scaleTestnet {
  0% {
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0.5);
  }
}

._layer-testnet_2-1 {
  top: 0;
  left: 0;
  animation: scaleTestnet 2s linear infinite alternate;
}

@media only screen and (max-width: 920px) {
  .wrapper-image {
    margin-bottom: 60px;
    justify-content: center;
    display: flex;
  }
}

.block-contact {
  ._layer_7-2 {
    top: 18%;
    left: 7%;
    animation: _layer_7-2 5s linear infinite;
  }

  ._layer_7-3 {
    top: 4%;
    left: 64%;
    animation: _layer_7-6 5s linear infinite;
  }

  ._layer_7-4 {
    top: 35%;
    left: 77%;
    animation: _layer_7-2 5s linear infinite;
  }

  ._layer_7-5 {
    top: 46%;
    left: 82%;
    animation: _layer_7-6 5s linear infinite;
  }
  @keyframes _layer_7-6{
    0%{
      transform: scale(1.1);
    }
    70%{
      transform: scale(1.0);
    }
    100%{
      transform: scale(1.1);
    }
  }
  @keyframes _layer_7-2{
    0%{
      transform: scale(0.9);
    }
    70%{
      transform: scale(1.0);
    }
    100%{
      transform: scale(0.9);
    }
  }
  ._layer_7-6 {
    top: 33%;
    left: 6%;
    animation: _layer_7-6 5s linear infinite;
  }

}
