<template>
  <button class="btn flex">
    <span class="text-content">{{ content }}</span>
    <img :src="checkIcon" :alt="icon">
  </button>
</template>
<script>
export default {
  props: {
    icon: {
      type: String,
      default: '@/assets/images/icon-close.svg'
    },
    content: {
      type: String,
      default: 'button'
    },
    option: {
      type: String,
      default: 'download'
    }
  },
  computed: {
    checkIcon () {
      let res
      switch (this.option) {
        case 'download':
          res = '../../assets/images/icon-close.svg'
          break
        case 'arrow':
          res = '../../assets/images/icon-close.svg'
          break
      }
      return res
    }
  }
}
</script>
