<template>
  <div>
    <p class="pre-text text-base text-white mb-3">
      {{ preText }} <span v-if="obligatory" class="" style="color: #EF4444">*</span>
    </p>
    <el-input v-model="valueInput" class="text-base" :placeholder="placehoder" />
    <p v-if="textWarning !== ''" class="text-warning text-[12px] mt-1">
      {{ textWarning }}
    </p>
  </div>
</template>
<script>
export default {
  props: {
    placehoder: {
      type: String,
      default: 'placeholder'
    },
    preText: {
      type: String,
      default: 'Pre Text'
    },
    obligatory: {
      type: Boolean,
      default: false
    },
    typeInput: {
      type: String,
      default: 'normal'
    },
    propsInput: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      valueInput: '',
      textWarning: '',
      exception: true
    }
  },
  created() {
    this.valueInput = this.propsInput
  },
  watch: {
    valueInput (newValue) {
      if (newValue.replaceAll(' ', '') === '') {
        this.textWarning = 'Please enter your name.'
        this.exception = true
      } else if (this.typeInput === 'email' && !newValue.includes('@')) {
        this.textWarning = 'Oops! It seems there was an error with your email. Please try again.'
        this.exception = true
      } else {
        this.textWarning = ''
        this.exception = false
      }
      this.$emit('change', { value: newValue, exception: this.exception })
    },
    propsInput(val){
      if(val === ''){
        this.valueInput = ''
        setTimeout(() => {
          this.textWarning = ''
        })
      }
    }
  }
}
</script>
<style scoped lang="scss">
::v-deep .el-input__inner {
  border: 1px solid #CFCFCF;
  border-radius: 5px;
  height: 48px;
  padding: 12px;
  color: white;
  font-size: 16px;
  background: #181A20;
}
::v-deep .el-input__inner:hover {
  border: 1px solid #FFB901;
}
::v-deep .el-input__inner:focus {
  border: 1px solid #FFB901;
}
::v-deep .el-input__inner:disabled{
  background: #5d5e62!important;
 border: 1px solid #CFCFCF !important;

}
::v-deep .el-input__inner::placeholder {
  font-size: 16px;
}

.text-warning {
  color: #EF4444;
}
</style>
