<template>
  <div>
  <client-only>
        <HeaderCommon :class="isScrollUp ? 'top-0' : 'top-insert'"/>
        <div class="height-insert w-full"/>
        <Nuxt/>
        <FooterCommon/>
  </client-only>
  </div>
</template>
<script>
import HeaderCommon from '~/components/common/header-common.vue'
import FooterCommon from '~/components/common/footer-common.vue'

export default {
  components: {HeaderCommon, FooterCommon},
  data() {
    return {
      isScrollUp: true
    }
  },
  mounted() {
    let previousScrollPos = window.pageYOffset || document.documentElement.scrollTop
    window.addEventListener('scroll', (event) => {
      const currentScrollPos = window.pageYOffset || document.documentElement.scrollTop
      if (currentScrollPos < previousScrollPos) {
        this.isScrollUp = true
      } else {
        this.isScrollUp = false
      }
      previousScrollPos = Math.abs(currentScrollPos)
    })
  }
}
</script>
<style scoped lang="scss">
.top-insert {
  @media only screen and (max-width: 1366px) {
    top: -56px !important;
    transition: 0.3s ease-in-out;
  }
  @media only screen and (min-width: 1367px) {
    top: -72px !important;
    transition: 0.3s ease-in-out;
  }
}

.height-insert {
  background: #181A20;
  @media only screen and (max-width: 1366px) {
    height: 56px !important;
    transition: 0.3s ease-in-out;
  }
  @media only screen and (min-width: 1367px) {
    height: 72px !important;
    transition: 0.3s ease-in-out;
  }
}

</style>
