<template>
  <div id="app">
    <HomePage />
  </div>
</template>

<script>
import HomePage from '../components/pages/home-page.vue'

export default {
  components: { HomePage }
}
</script>

<style></style>
