<template>
  <div>
    <HomePage />
  </div>
</template>
<script>
import HomePage from '../components/pages/home-page.vue'

export default {
  components: { HomePage },
  mounted () {
    const pos = document.getElementsByClassName('block-three')[0]
    setTimeout(() => {
      window.scrollTo({
        top: pos.offsetTop,
        behavior: 'smooth'
      })
    }, 200)
  }
}
</script>
