<template>
  <div class="wrapper-about relative w-full">
    <div class="main-content">
      <h2
        class="
       text-center
        capitalize md:uppercase pt-[64px] md:pt-[163px] xl:pt-[163px] pb-8 md:pb-[72px]
        xl:pb-[72px] px-4 md:px-16 lg:px-8 xl-h:px-0"
        v-html="fnConvertTextCharacter(`Omega Network Revolutionizing Blockchain and Cryptocurrency`, `color-primary uppercase font-bold text-[20px] md:text-5xl`, `letter-character-1`)"
      />
      <div
        class="block-text text-white line-height-150 w-200 m-auto px-4 md:px-16 lg:px-8 xl-h:px-0  pb-[72px] md:pb-[100px]"
      >
        <p v-for="item in dataParameter" :key="item.content" class="text-[14px] md:text-[18px] content-translate-page">
          <span class="text-[14px] md:text-[18px]" v-if="item.link">{{ item.content }} <br>
            <a
              class="text-link text-[14px] md:text-[18px]"
              :href="item.link"
              target="_blank"
            >{{ item.contentLink }}</a>

          </span>
          <span class="text-[14px] md:text-[18px]" v-else>{{ item.content }}</span>
          <br>
        </p>
      </div>
    </div>
  </div>
</template>
<script>
import { fnConvertTextCharacter, fnMountedTextCharacter, fnMountedCard } from '~/utils/base'

export default {
  data () {
    return {
      dataParameter: [
        { content: 'Omega Network is registered as a Private Limited Company in the United Kingdom.' },
        {
          content: 'Find out more information.',
          link: 'https://find-and-update.company-information.service.gov.uk/company/14388709',
          contentLink: 'company-information.service.gov.uk/company/14388709'
        },
        { content: 'The company was established on 2022-09-30. Charter capital: GBP 15,000,000' },
        {
          content: ` James Brown (JB) is the Founder and CEO of Omega Network. He will appear in public when Omega Network enters
          the mainnet phase.`
        },
        {
          content: ` At the start, Omega Network was primarily funded by anonymous donors, and the project will continue to attract
          more funding. We are the founders and developers of the Omega cryptocurrency revolution does not mean that we
          enjoy any privileges that are superior to the community. As a rule, neither members of our team nor investors
          are allocated the issued coins.`
        },
        {
          content: `Omega Network is committed to using blockchain technology to establish an open internet platform and an
          ecosystem of Dapps (decentralized applications). We will gradually introduce applications of Blockchain to
          life, such as blockchain social networks, e-commerce, Web3, and e-wallet. Our ultimate goal is Omega coin to
          become an immortal coin and contributes to the value chain of the Omega Network platform.`
        }
      ]
    }
  },
  mounted () {
    setTimeout(() => {
      this.fnMountedTextCharacter('.letter-character-1')
      this.fnMountedCard('.content-translate-page', 0.25)
    }, 100)
  },
  methods: {
    fnConvertTextCharacter,
    fnMountedTextCharacter,
    fnMountedCard
  }
}
</script>
<style scoped lang="scss">
.wrapper-about {
  background: #181A20;
  position: relative;
}

.wrapper-about:after {
  position: absolute;
  content: "";
  background-image: url("@/assets/images/text-about-us.svg");
  width: 1011px;
  height: 235px;
  z-index: 10;
  left: calc(50% - 1011px / 2 + 0.5px);
  top: 57px;
  background-repeat: no-repeat;
  background-size: contain;

  @media only screen and (max-width: 1365px) {
    top: 50px;
    width: 80vw;
    height: 235px;
    left: calc(50% - 80vw / 2 + 0.5px);
  }
  @media only screen and (max-width: 720px) {
    height: calc(100px);
    top: 37px;
  }
}

.block-text {
  p {
    margin-bottom: 1rem;
    text-align: justify;
  }

  p:last-child {
    margin-bottom: 0rem;
  }
}

.text-link:hover {
  color: #FFB901FF;
  text-decoration: underline;
}
</style>
