<template>
  <div class="wrapper-download relative w-full">
    <div class="main-content">
      <h2
        class="
        text-center
        capitalize md:uppercase pt-[64px] md:pt-[163px] xl:pt-[163px] pb-8 md:pb-[72px]
        xl:pb-[72px] px-4 md:px-16 lg:px-8 xl-h:px-0"
        v-html="fnConvertTextCharacter(` Mining Anywhere, anytime!`, `color-primary uppercase font-bold text-[20px] md:text-5xl`, `letter-character-1`)"
      >
      </h2>
      <div v-clipboard:copy="thingToCopy" class="list-group grid grid-cols-1 gap-[24px] mb-[30px] md:hidden content-translate-page">
        <div  v-if="device?.ios || device?.windows ||device?.macos " class="flex justify-center">
          <a class="btn-item" href="https://apps.apple.com/app/omega-network/id1664646371" target="_blank">
            <img src="@/assets/images/apple_store.svg" alt="apple_store">
          </a>
        </div>
        <div v-if="device?.android || device?.windows ||(device?.macos)" class="flex justify-center">
          <a class="btn-item" href="https://play.google.com/store/apps/details?id=com.omtch.om&pli=1" target="_blank">
            <img src="@/assets/images/google_play.svg" alt="google_play">
          </a>
        </div>
        <div v-if="device?.android || device?.windows ||(device?.macos)" class="flex justify-center">
          <a class="btn-item" href="/om_v2.2.9.apk" download>
            <img src="@/assets/images/download_for_android5.svg" alt="download_for_android5">
          </a>
        </div>
        <div v-if="device?.android || device?.windows ||(device?.macos)" class="flex justify-center">
          <a class="btn-item" href="/om_v2.3.0.apk" download>
            <img src="@/assets/images/download_for_android.svg" alt="download_for_android">
          </a>
        </div>
      </div>
      <div class="content wrapper-main relative w-full flex flex-wrap lg-l:justify-between items-center px-0 xl:px-0 content-translate-page">
        <div
          class="content-left overflow-hidden md:overflow-visible relative w-full md:w-[60%] flex justify-center md:justify-start px-4 md:px-0 md:pb-0 pb-8">
          <img src="@/assets/images/group-download.png" alt="group-download">
        </div>
        <div
          class="content-right relative w-full md:w-[40%] md:max-w-[500px] px-4 md:px-4 lg:px-0">
          <p class="text-white text-[14px] md:text-[18px] line-height-150 mb-[18px] mt-[24px] md:mt-0">Experience the future of crypto right at your
            fingertips with the OM mobile app. Mining has never been more
            convenient or accessible.</p>

          <p class="text-white text-[14px] md:text-[18px] line-height-150 mb-[50px]">Don't miss out on the opportunity to be part of
            the revolution. Get the OM mobile app and start mining
            anywhere, anytime. Your crypto journey begins here!</p>
          <div class="hidden md:block">
            <div v-clipboard:copy="thingToCopy" class="list-group grid grid-cols-2 gap-[24px]">
              <a  v-if="device?.ios || device?.windows ||device?.macos " href="https://apps.apple.com/app/omega-network/id1664646371"  class="btn-item" target="_blank">
                <img src="@/assets/images/apple_store.svg" alt="apple_store">
              </a>
              <a v-if="device?.android || device?.windows ||(device?.macos)" class="btn-item" href="https://play.google.com/store/apps/details?id=com.omtch.om&pli=1" target="_blank">
                <img src="@/assets/images/google_play.svg" alt="google_play">
              </a>
              <a v-if="device?.android || device?.windows ||(device?.macos)" class="btn-item" href="/om_v2.2.9.apk" download>
                <img src="@/assets/images/download_for_android5.svg" alt="download_for_android5">
              </a>
                <a v-if="device?.android || device?.windows ||(device?.macos)" class="btn-item" href="/om_v2.3.0.apk" download>
                <img src="@/assets/images/download_for_android.svg" alt="download_for_android">
              </a>
            </div>
          </div>

        </div>
      </div>
      <div class="h-[150px] md:h-[200px]"></div>
    </div>
  </div>
</template>
<script>
import { fnConvertTextCharacter, fnMountedTextCharacter, fnMountedCard ,copyValue} from '~/utils/base'
export default {
  data(){
    return{
      thingToCopy: ``,
      device: ''
    }
  },
  mounted() {
    setTimeout(() => {
      this.fnMountedTextCharacter('.letter-character-1')
      this.fnMountedCard('.content-translate-page', 0.25)
    }, 100)
  },
  created() {
    this.thingToCopy = window.location.href
    this.device = this.$device
    if (this.device.ios === false && this.device.android === false) {
      this.device.macos = true
    }
  },
  methods: {
    fnConvertTextCharacter,
    fnMountedTextCharacter,
    fnMountedCard,
    copyValue
  }
}
</script>

<style scoped lang="scss">
.wrapper-download {
  background: #181A20;
  position: relative;
}

.content-left:before {
  width: 100%;
  position: absolute;
  content: "";
  background-image: url("@/assets/images/bg-group-download.svg");
  height: 304px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 170px;
  transform: scale(1.9);
}

.wrapper-download:after {
  position: absolute;
  content: "";
  background-image: url("@/assets/images/text-download.svg");
  width: 1189px;
  height: 235px;
  left: calc(50% - 1189px / 2);
  top: 57px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;

  @media only screen and (max-width: 1365px) {
    top: 50px;
    width: 80vw;
    left: calc(50% - 80vw / 2 + 0.5px);
  }
  @media only screen and (max-width: 720px) {
    height: calc(100px);
    top: 37px;
  }
}
</style>
<script setup>
</script>
