<template>
  <div class="wrapper-mainnet w-full flex justify-center items-center h-[455px] md:h-[607px] xl:h[921px]">
    <h2
      class="text-center capitalize md:uppercase"
      v-html="fnConvertTextCharacter(`Comming soon !`, `color-primary uppercase font-bold text-[20px] md:text-5xl`, `letter-character-1`)"
    />
  </div>
</template>
<script>
import { fnConvertTextCharacter, fnMountedTextCharacter } from '~/utils/base'

export default {
  mounted () {
    setTimeout(() => {
      this.fnMountedTextCharacter('.letter-character-1')
    }, 500)
  },
  methods: {
    fnConvertTextCharacter,
    fnMountedTextCharacter
  }
}
</script>
<style scoped lang="scss">
.wrapper-mainnet{
  background: #181A20;
}
</style>
