<template>
  <div class="wrapper-support relative w-full px-4 sm:px-8 md-h:px-16 lg-h:px-16 xl:px-0">
    <div class="main-content">
      <h2
        class="
        text-center
        capitalize md:uppercase pt-[64px] md:pt-[163px] xl:pt-[163px] pb-8 md:pb-[72px]
        xl:pb-[72px] px-4 md:px-16 lg:px-8 xl-h:px-0"
        v-html="fnConvertTextCharacter(`Welcome to the FAQ & Support`, `color-primary uppercase font-bold text-[20px] md:text-5xl`, `letter-character-1`)"
      >
      </h2>
      <p
        class="content-translate-page text-special-support text-center text-white text-[14px] md:text-[18px] line-height-150 mb-[12px] md:mb-[24px]">
        If you have any questions or need helps, please contact us via email: <a class="text-[14px] md:text-[18px]" href="mailto: abc@example.com">cs@omtch.com</a>
      </p>
      <div class="list-accordion">
        <div v-for="(item, index) in dataQA" :key="index" class="content-translate-page"
             :class="index === (dataQA.length - 1) ? 'mb-0': 'mb-[12px] md:mb-[24px]'">
          <card-base-custom class="w-full" :clas-card="arrShowAnswer[index] ? 'active': ''">
            <div class="">
              <div class="w-full flex justify-between items-center">
                <p class="text-white font-bold text-xl line-height-150">
                  {{ item.question }}
                </p>
                <button class="arrow-right" @click="toggleAnswer(index)">
                  <div v-if="!arrShowAnswer[index]" class="block-arrow">
                    <img src="@/assets/images/arrow-right-white.svg" alt="arrow-right-white">
                    <img hidden src="@/assets/images/arrow-right-white-yellow1.svg" alt="arrow-right-yellow">
                  </div>
                  <img class="arrow3" v-else src="@/assets/images/arrow-right-yellow.svg" alt="arrow-right-yellow">
                </button>
              </div>
              <div
                :class="arrShowAnswer[index] ? 'active': ''"
                class="content text-white text-sm md:text-lg line-height-150 mr-[20px]"
              >
                <div class="h-[12px]"></div>
                <div class="text-[14px] md:text-[18px]" v-html="item.answer"></div>
              </div>
            </div>
          </card-base-custom>
        </div>
      </div>
      <div class="h-[72px] md:h-[100px]"/>
    </div>
  </div>
</template>
<script>
import CardBaseCustom from '../base/card-base-custom.vue'
import {fnConvertTextCharacter, fnMountedTextCharacter, fnMountedCard} from '~/utils/base'

export default {
  components: {CardBaseCustom},
  data() {
    return {
      dataQA: [
        {
          question: 'What is Omega Network?',
          answer: `
          Omega Network is the result of the efforts of the OMCore
           Team to create an alternative currency to paper money.
           Our goal is for Om to become a coin that you can easily
           own without the need for specialized mining machines.
            You can find more information about Omega Network on
             our website:
              <a class="text-[14px] md:text-[18px]"  href="https://omtch.com/" target="_blank" rel="Omega network">https://omtch.com/<a/>`,
        },
        {
          question: 'How will the Seed - IFO Phase be launched?',
          answer: `
<div class="text-[14px] md:text-[18px]">
   <ul>
            <li>Start: 0:00 AM GMT on 22/02 to 23:59:59 on 22/03.</li>
            <li>Selling price: $0.11</li>
            <li>Amount: 48.500.000 tokens</li>
            <li>Vesting: begins 61 days after listing, releasing gradually over 22 months.</li>
           </ul>
</div>

          `,
        }, {
          question: 'How will the Privare Phase be launched?',
          answer: `
          <div class="text-[14px] md:text-[18px]">
   <ul>
            <li>Start: 0:00 AM GMT on 23/03 to 23:59:59 on 23/04.</li>
            <li>Selling price: $0.17</li>
            <li>Amount: 77.600.000 tokens</li>
            <li>Vesting: begins 31 days after listing, releasing gradually over 17 months.</li>
           </ul>
</div>
          `,
        }, {
          question: 'When is the official listing?',
          answer: `
  <div class="text-[14px] md:text-[18px]">
           OMN is scheduled for official listing on major top-tier centralized exchanges
           in mid to late June. Please stay tuned for updates and announcements on
            <a class="text-[14px] md:text-[18px]"  href="https://twitter.com/OMCoreTeam" target="_blank" rel="Omega network twitter">https://twitter.com/OMCoreTeam</a>,
           . After a month, we will list on a top centralized exchange (CEX).
</div>
          `,
        }, {
          question: `What's the difference between a token sale token and a mined token?`,
          answer: `
          No. The amount of coin you buy and the amount you mine are the same,
          within the total supply of 970 million coins. The amount of coin you buy in the Seed-IFO,
          Private, IDO rounds, when received in your wallet, can be traded immediately on the
          exchange and transferred to each other. The amount of coin you mine, you need to
          KYC to be able to withdraw it. The information and KYC conditions are on page 15 of the whitepaper.
          `,
        }
      ],
      arrShowAnswer: []
    }
  },
  created() {
    this.arrShowAnswer = this.dataQA.map((item, index) => false)
    this.arrShowAnswer[0] = true
  },
  mounted() {
    setTimeout(() => {
      this.fnMountedTextCharacter('.letter-character-1')
      this.fnMountedCard('.content-translate-page', 0.3)
    }, 100)
  },
  methods: {
    fnConvertTextCharacter,
    fnMountedTextCharacter,
    fnMountedCard,
    toggleAnswer(itemIndex) {
      if (this.arrShowAnswer[itemIndex] === true) {
        this.arrShowAnswer = this.dataQA.map((item, index) => false)
      } else {
        this.arrShowAnswer = this.arrShowAnswer.map((item, index) => {
          return index === itemIndex
        })
      }
    }
  }
}
</script>
<style scoped lang="scss">
::v-deep li{
  font-size: 14px !important;;
  @media only screen and (min-width:	768px) {
    font-size: 18px !important;
  }
}
::v-deep .content-card a:hover{
  color: #FFB901FF;
}
.text-special-support {
  color: #FFB901FF;
}

.content.active {
  max-height: 500px;
  transition: max-height 1s ease;
}

.content {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 1s ease;
}

.block-arrow:hover img:first-child {
  display: none;
}

.block-arrow:hover img:nth-child(2) {
  display: block;
}

.main-content {
  max-width: 814px;
}

.wrapper-card {
  padding: 12px 12px 12px 20px;
}

.wrapper-card.active {
  border: 2px solid #FF9901;
}

.wrapper-card.active:after, .wrapper-card.active:before {
  background-color: #FFB901;
}

.wrapper-support {
  background: #181A20;
  position: relative;
}

.wrapper-support:after {
  position: absolute;
  content: "";
  background-image: url("@/assets/images/text-support.svg");
  width: 1011px;
  height: 235px;
  left: calc(50% - 1011px / 2 + 0.5px);
  top: 57px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;

  @media only screen and (max-width: 1365px) {
    top: 50px;
    width: 80vw;
    height: 235px;
    left: calc(50% - 80vw / 2 + 0.5px);
  }
  @media only screen and (max-width: 720px) {
    height: calc(100px);
    top: 37px;
  }
}
</style>
