<template>
  <div class="wrapper-network relative w-full px-4 sm:px-8 md-h:px-16 lg-h:px-16 xl:px-0">
    <div class="main-content">
      <h2
        class="
        text-center
        capitalize md:uppercase pt-[32px] md:pt-[48px] xl:pt-[48px] pb-[24px] md:pb-[32px]
        xl:pb-[32px] px-4 md:px-16 lg:px-8 xl-h:px-0"
        v-html="fnConvertTextCharacter(`Terms of Service`, `color-primary uppercase font-bold text-[20px] md:text-5xl`, `letter-character-1`)"
      />
      <div class="content w-full flex flex-wrap lg-l:justify-between items-center text-white">
        <div class="content_text" v-html="dataContentHtml">

        </div>
      </div>
      <div class="h-[50px] lg-l:h-[157px]"/>
    </div>
  </div>
</template>
<script>
import {fnConvertTextCharacter, fnMountedCard, fnMountedTextCharacter} from '~/utils/base'

export default {
  data() {
    return {
      dataTerms: [
        {
          title: '1. Acceptance of Terms', titleChild: [{title: '', content: ''}],
          content: `

        OM TECH GROUP, LTG., its parent and affiliates ("OM TECH GROUP") provides a platform for managing
        crypto currency and crypto assets, for mining the cryptocurrency OM, for enabling individual
         users to contribute to the security and community of OM Network, and for allowing ordinary
          websites and applications to interact with blockchains to build a blockchain ecosystem. <br>

These Terms of Service (these "Terms" or "Terms of Service") are entered into by and between you and
OM TECH GROUP. and govern your access to and use of the OM TECH GROUP website located at
<a href="https://omtch.com " target="_blank" rel="omtch">https://omtch.com</a>
and at
<a href="https://omtch.com " target="_blank" rel="omtch">https://omtch.com</a>
 , our mobile apps, a desktop application called OM Node, our
 browser plugin and our social media sites (collectively, the "Site"),
 and includes all text, images, audio, code and other materials and all
 of the features, and services provided (collectively, the "Content"). The Site, and any other features, tools, materials, or other services offered from time to time by OM TECH GROUP are referred to here as the "Service."

Please read these Terms of Service carefully before using the Service. By using or otherwise accessing the Services, or clicking to accept or agree to these Terms where that option is made available, you (1) accept and agree to these Terms (2) consent to the collection, use, disclosure and other handling of information as described in our Privacy Policy located at
<a href="https://omtch.com/privacy-policy" target="_blank" rel="omtch">https://omtch.com/privacy-policy</a>
 and (3) agree to and accept any additional terms, rules and conditions of participation issued by OM TECH GROUP from time to time. If you do not agree to the Terms, then you may not access or use the Content or Services.
        `
        },
        {
          title: '2. Modification of Terms of Service', titleChild: [{title: '', content: ''}],
          content: `
         Except for Section 15, providing for binding arbitration and waiver of class action rights, OM TECH GROUP reserves the right, at its sole discretion, to modify or replace the Terms of Service at any time. The most current version of these Terms will be posted on our Site. You are responsible for reviewing and becoming familiar with any such modifications. Use of the Services by you after any modification to the Terms constitutes your acceptance of the Terms of Use as modified.
         `
        },
        {
          title: '3. Eligibility', titleChild: [{title: '', content: ''}],
          content: `
          You hereby represent and warrant that you are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations and warranties set forth in these Terms; that you are using the Site solely for your personal use; and that you will abide by and comply with these Terms. This Site is not directed to users under the age of 13. <br>

OM TECH GROUP is a global platform and by accessing the Content or Services, you are representing and warranting that, you are of the legal age of majority in your jurisdiction as is required to access such Services and Content and enter into arrangements as provided by the Service. You further represent that you are otherwise legally permitted to use the Service in your jurisdiction, including owning cryptographic tokens of value, and interacting with the Services or Content in any way. You further represent you are responsible for ensuring compliance with the laws of your jurisdiction and acknowledge that OM TECH GROUP is not liable for your compliance with such laws.
          `

        },
        {
          title: '4. Account Password and Security', titleChild: [{title: '', content: ''}],
          content: `
            When setting up an account within OM TECH GROUP, you will be responsible for keeOMng your passwords,
            which you use to sign into your OM account, and which we use to keep third-party accounts safe. OM TECH GROUP encrypts this information locally with a random keyword we provide and securely store on our servers for your convenience. By using the Service, You agree that (a) all registration information you provide to us is accurate, complete and correct; (b) all registration information you provide is governed by the terms of our Privacy Policy at
            <a href="https://omtch.com/privacy-policy" target="_blank" rel="privacy-policy">https://omtch.com/privacy-policy</a>
            (c) you will have two-way authentication login for any third-party service used to access the Service, e.g. Facebook; (d) you will never use the same password for the OM TECH GROUP-connected Facebook account for any account or purpose outside of this Service; (e) you will keep your password to the third-party services (Facebook) confidential and not share them with anyone else; (f) you will immediately notify OM TECH GROUP of any unauthorized use of your account or breach of security in the third-party services (Facebook). OM TECH GROUP cannot and will not be liable for any loss or damage arising from your failure to comply with this section.
          `
        },
        {
          title: '5. Submissions', titleChild: [{title: '', content: ''}],
          content: `
           If you post material to the Site, or otherwise make (or allow any third party to make) material available by means of the Site (any such material, “User Content”), you are entirely responsible for the content of, and any harm resulting from, such User Content. That is the case regardless of whether your User Content constitutes text, graphics, an audio file, or computer software.

By making User Content available, you represent and warrant that: <br>

Your User Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;
Your User Content is not spam and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing); <br>
You will post only User Content that is relevant to OM TECH GROUP and OM Network and at a rate and volume that does not hinder other Users' ability to use our platform; <br>
Your User Content is not libelous or defamatory, does not contain threats or incite violence towards individuals or entities, and does not violate the privacy or publicity rights of any third party. <br>
By submitting User Content to OM TECH GROUP for inclusion on the Site, you grant OM TECH GROUP a world-wide, perpetual, royalty-free, and non-exclusive license to reproduce, modify, adapt, and publish your User Content in connection with the Site. You represent and warrant that (a) you own and control all of the rights to the User Content that you post or you otherwise have the right to post to the Site; (b) your User Content is accurate and not misleading; and (c) use and posting of your Content does not violate these Terms of Service and will not violate any rights of or cause injury to any person or entity.<br>

Without limiting any of these representations or warranties, OM TECH GROUP has the right (though not the obligation), in OM TECH GROUP's sole discretion, to terminate or deny access to and use of the Site to any individual or entity for any reason.
          `
        },
        {
          title: '6. Acceptable Use', titleChild: [{title: '', content: ''}],
          content: `
           Except as expressly provided in these Terms, you agree that you will not: (i) copy the Services or Content or any portion thereof; (ii) distribute, modify, adapt, translate, reverse engineer, decompile, disassemble, create derivative works based on, print any part of, or otherwise attempt to discover the source code, compiled executables, intermediate files, or underlying structure, ideas, know-how or algorithms relating in any way to the Services or Content; (iii) use the Services to send or store infringing, obscene, threatening, libelous, or otherwise unlawful material, including material that violates third party rights; (vi) use the Services to create, use, send, store, or run material containing software viruses, worms, Trojan horses or otherwise engage in any malicious act or disrupt the security, integrity or operation of the Services; (vii) use the Services in any manner that violates any applicable foreign, federal, state or local law, rule or regulation; (viii) use the Services in any manner that violates any third party rights or the terms of this Agreement; (ix) use scripting, computer programs or third-party scripting services to create fake accounts, to receive OM rewards intended for accounts held by real human beings, or spam the chat rooms on the Site; (x) sell or transfer user accounts to another individual or entity; or (xi) participate in the sale of OM unauthorized by OM TECH GROUP or its affiliates. The violation of these terms may result in OM TECH GROUP, in OM TECH GROUP's sole discretion, terminating or denying access to and use of the Site, freezing accounts, removing or canceling previously awarded OM of any individual or entity.
          `
        },
        {
          title: '7. Representations, Warranties and Risks',
          titleChild: [
            {
              title: '7.1. Warranty Disclaimer',
              content: `You expressly understand and agree that your use of the Service is at your sole risk. The Service and the Content are provided on an "AS IS" and "as available" basis, without warranties of any kind, either express or implied, including, without limitation, implied warranties of merchantability, fitness for a particular purpose or non-infringement. You acknowledge that OM TECH GROUP has no control over, and no duty to take any action regarding: which users gain access to or use the Service; what effects the Content may have on you; how you may interpret or use the Content; or what actions you may take as a result of having been exposed to the Content. You release OM TECH GROUP from all liability arising from your access to or use of the Service or the Content. OM TECH GROUP makes no representations concerning any Content contained in or accessed through the Service, and OM TECH GROUP will not be responsible or liable for the accuracy, copyright compliance, legality or decency of material contained in or accessed through the Service.`
            },
            {
              title: '7.2 Sophistication and Risk of Cryptographic Systems',
              content: `By utilizing the Service or interacting with the Content or platform in any way, you represent that you understand the inherent risks associated with cryptographic systems; and warrant that you have an understanding of the usage and intricacies of native cryptographic tokens, like Ether (ETH) and Bitcoin (BTC), smart contract based tokens such as those that follow the Ethereum Token Standard (<a  href="https://eips.ethereum.org/EIPS/eip-20" target="_blank" rel="ethereum">https://eips.ethereum.org/EIPS/eip-20</a>), and blockchain-based software systems.`
            },
            {
              title: '7.3 Risk of Regulatory Actions in One or More Jurisdictions',
              content: `OM TECH GROUP and the crypto assets you store on OM TECH GROUP could be impacted by one or more regulatory inquiries or regulatory action, which could impede or limit the ability of OM TECH GROUP to continue to develop, or which could impede or limit your ability to access or use, the Service.`
            },
            {
              title: '7.4 Risk of Weaknesses or Exploits in the Field of Cryptography',
              content: `You acknowledge and understand that Cryptography is a progressing field. Advances in code cracking or technical advances such as the development of quantum computers may present risks to cryptocurrencies, the Services or the Content, which could result in the theft or loss of your cryptographic tokens or property. To the extent possible, OM TECH GROUP intends to update the protocol underlying Services to account for any advances in cryptography and to incorporate additional security measures. OM TECH GROUP does not guarantee or otherwise represent full security of the system. By using the Service or accessing Content, you acknowledge these inherent risks.`
            },
            {
              title: '7.5 Volatility of Crypto Currencies',
              content: `You understand that Ethereum and other blockchain technologies and associated currencies or tokens are highly volatile due to many factors including but not limited to adoption, speculation, technology and security risks. You also acknowledge that after the Mainnet of OM becomes live or OM is listed in exchanges, OM will be of similar volatility and subject to the same factors faced by other cryptocurrencies. You also acknowledge that the cost of transacting on such technologies is variable and may increase at any time causing impact to any activities taking place on the blockchains. You acknowledge these risks and represent that OM TECH GROUP cannot be held liable for such fluctuations or increased costs.`
            },
            {
              title: '7.6 Application Security',
              content: `You acknowledge that blockchain applications are code subject to flaws and acknowledge that you are solely responsible for evaluating any code provided by the Services or Content and the trustworthiness of any third-party websites, products, smart-contracts, or Content you access or use through the Service. You further expressly acknowledge and represent that blockchain applications can be written maliciously or negligently, that OM TECH GROUP cannot be held liable for your interaction with such applications and that such applications may cause the loss of property or even identity. This warning and others later provided by OM TECH GROUP in no way evidence or represent an on-going duty to alert you to all of the potential risks of utilizing the Service or Content.`
            }
          ],
          content: ''
        },
        {
          title: '8. Indemnity', titleChild: [{title: '', content: ''}],
          content: `
You agree to release and to indemnify, defend and hold harmless OM TECH GROUP and its parents, subsidiaries, affiliates and agencies, as well as the officers, directors, employees, shareholders and representatives of any of the foregoing entities, from and against any and all losses, liabilities, expenses, damages, costs (including attorneys' fees and court costs), claims or actions of any kind whatsoever arising or resulting from your use of the Service other than as expressly authorized by and pursuant to the terms of these Terms of Service, your violation of these Terms of Service, and any of your acts or omissions that implicate publicity rights, defamation or invasion of privacy. OM TECH GROUP reserves the right, at its own expense, to assume exclusive defense and control of any matter otherwise subject to indemnification by you and, in such case, you agree to cooperate with OM TECH GROUP in the defense of such matter.
          `
        },
        {
          title: '9. Limitation of Liability', titleChild: [{title: '', content: ''}],
          content: `
         YOU ACKNOWLEDGE AND AGREE THAT YOU ASSUME FULL RESPONSIBILITY FOR YOUR USE OF THE SITE AND SERVICE. YOU ACKNOWLEDGE AND AGREE THAT ANY INFORMATION YOU SEND OR RECEIVE DURING YOUR USE OF THE SITE AND SERVICE MAY NOT BE SECURE AND MAY BE INTERCEPTED OR LATER ACQUIRED BY UNAUTHORIZED PARTIES. YOU ACKNOWLEDGE AND AGREE THAT YOUR USE OF THE SITE AND SERVICE IS AT YOUR OWN RISK. RECOGNIZING SUCH, YOU UNDERSTAND AND AGREE THAT, TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, NEITHER OM TECH GROUP NOR ITS SUPPLIERS OR LICENSORS WILL BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, PUNITIVE, EXEMPLARY OR OTHER DAMAGES OF ANY KIND, INCLUDING WITHOUT LIMITATION DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER TANGIBLE OR INTANGIBLE LOSSES OR ANY OTHER DAMAGES BASED ON CONTRACT, TORT, STRICT LIABILITY OR ANY OTHER THEORY (EVEN IF OM TECH GROUP HAD BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM THE SITE OR SERVICE; THE USE OR THE INABILITY TO USE THE SITE OR SERVICE; UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SITE OR SERVICE; ANY ACTIONS WE TAKE OR FAIL TO TAKE AS A RESULT OF COMMUNICATIONS YOU SEND TO US; HUMAN ERRORS; TECHNICAL MALFUNCTIONS; FAILURES, INCLUDING PUBLIC UTILITY OR TELEPHONE OUTAGES; OMISSIONS, INTERRUPTIONS, LATENCY, DELETIONS OR DEFECTS OF ANY DEVICE OR NETWORK, PROVIDERS, OR SOFTWARE (INCLUDING, BUT NOT LIMITED TO, THOSE THAT DO NOT PERMIT PARTICIPATION IN THE SERVICE); ANY INJURY OR DAMAGE TO COMPUTER EQUIPMENT; INABILITY TO FULLY ACCESS THE SITE OR SERVICE OR ANY OTHER WEBSITE; THEFT, TAMPERING, DESTRUCTION, OR UNAUTHORIZED ACCESS TO, IMAGES OR OTHER CONTENT OF ANY KIND; DATA THAT IS PROCESSED LATE OR INCORRECTLY OR IS INCOMPLETE OR LOST; TYPOGRAPHICAL, PRINTING OR OTHER ERRORS, OR ANY COMBINATION THEREOF; OR ANY OTHER MATTER RELATING TO THE SITE OR SERVICE.<br>

SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.<br>

OM TECH GROUP assumes no responsibility, and shall not be liable for, any damages to, or viruses that may infect, your computer, telecommunication equipment, or other property caused by or arising from your access to, use of, or browsing the Site or your downloading of any materials, from the Site.<br>
         `
        },
        {
          title: '10. Our Proprietary Rights', titleChild: [{title: '', content: ''}],
          content: `
     The Site, the Service, all functionality of the Site and Service, and all Content and all intellectual property are owned by OM TECH GROUP or its licensors. You acknowledge and agree that the Service contains proprietary and confidential information that is protected by applicable intellectual property and other laws. Except as expressly authorized by OM TECH GROUP, you agree not to copy, modify, rent, lease, loan, sell, distribute, perform, display or create derivative works based on the Service or Content, in whole or in part.<br data-v-19099801="">The trademarks OM TECH GROUP, OM, OM NETWORK and the OM Design (the "Trademarks) are trademarks of OM TECH GROUP and its parent, OM Community Company. You may not use the trademarks without the prior written permission of OM TECH GROUP. Any permitted use of the Trademarks must be pursuant to and in compliance with the OM Trademark Guidelines, located at <a href="https://omtch.com/tos" data-v-19099801="">omtch.com</a>.`
        },
        {
          title: '11. Links', titleChild: [{title: '', content: ''}],
          content: ``
        }
      ],
      dataContentHtml: `
      <div><h3 data-v-19099801=""><strong data-v-19099801="">Last Update Posted: Oct 10, 2022</strong></h3><p data-v-19099801=""><strong data-v-19099801="">IMPORTANT NOTICE: THIS AGREEMENT IS SUBJECT TO BINDING ARBITRATION AND A WAIVER OF CLASS ACTION RIGHTS AS DETAILED IN SECTION 15. PLEASE READ THE AGREEMENT CAREFULLY.</strong></p><br><h1 data-v-19099801=""><strong data-v-19099801="">1. Acceptance of Terms</strong></h1><p data-v-19099801=""> OM TECH GROUP, LTG., its parent and affiliates ("OM TECH GROUP") provides a platform for managing crypto currency and crypto assets, for mining the cryptocurrency OM, for enabling individual users to contribute to the security and community of OM Network, and for allowing ordinary websites and applications to interact with blockchains to build a blockchain ecosystem. </p><br><p data-v-19099801=""> These Terms of Service (these "Terms" or "Terms of Service") are entered into by and between you and OM TECH GROUP. and govern your access to and use of the OM TECH GROUP website located at <strong data-v-19099801=""><a href="https://omtch.com" data-v-19099801="">https://omtch.com</a></strong> and at <strong data-v-19099801=""><a href="https://omtch.com" data-v-19099801="">https://omtch.com</a></strong>, our mobile apps, a desktop application called OM Node, our browser plugin and our social media sites (collectively, the "Site"), and includes all text, images, audio, code and other materials and all of the features, and services provided (collectively, the "Content"). The Site, and any other features, tools, materials, or other services offered from time to time by OM TECH GROUP are referred to here as the "Service." </p><br><p data-v-19099801=""> Please read these Terms of Service carefully before using the Service. By using or otherwise accessing the Services, or clicking to accept or agree to these Terms where that option is made available, you (1) accept and agree to these Terms (2) consent to the collection, use, disclosure and other handling of information as described in our Privacy Policy located at <strong data-v-19099801=""><a href="https://omtch.com/privacy-policy" data-v-19099801="">https://omtch.com/privacy-policy</a></strong> and (3) agree to and accept any additional terms, rules and conditions of participation issued by OM TECH GROUP from time to time. If you do not agree to the Terms, then you may not access or use the Content or Services. </p><br><h1 data-v-19099801=""><strong data-v-19099801="">2. Modification of Terms of Service</strong></h1><p data-v-19099801=""> Except for Section 15, providing for binding arbitration and waiver of class action rights, OM TECH GROUP reserves the right, at its sole discretion, to modify or replace the Terms of Service at any time. The most current version of these Terms will be posted on our Site. You are responsible for reviewing and becoming familiar with any such modifications. Use of the Services by you after any modification to the Terms constitutes your acceptance of the Terms of Use as modified. </p><br><h1 data-v-19099801=""><strong data-v-19099801="">3. Eligibility</strong></h1><p data-v-19099801=""> You hereby represent and warrant that you are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations and warranties set forth in these Terms; that you are using the Site solely for your personal use; and that you will abide by and comply with these Terms. This Site is not directed to users under the age of 13. </p><br><p data-v-19099801=""> OM TECH GROUP is a global platform and by accessing the Content or Services, you are representing and warranting that, you are of the legal age of majority in your jurisdiction as is required to access such Services and Content and enter into arrangements as provided by the Service. You further represent that you are otherwise legally permitted to use the Service in your jurisdiction, including owning cryptographic tokens of value, and interacting with the Services or Content in any way. You further represent you are responsible for ensuring compliance with the laws of your jurisdiction and acknowledge that OM TECH GROUP is not liable for your compliance with such laws. </p><br><h1 data-v-19099801=""><strong data-v-19099801="">4. Account Password and Security</strong></h1><p data-v-19099801=""> When setting up an account within OM TECH GROUP, you will be responsible for keeOMng your passwords, which you use to sign into your OM account, and which we use to keep third-party accounts safe. OM TECH GROUP encrypts this information locally with a random keyword we provide and securely store on our servers for your convenience. By using the Service, You agree that (a) all registration information you provide to us is accurate, complete and correct; (b) all registration information you provide is governed by the terms of our Privacy Policy at <strong data-v-19099801=""><a href="https://omtch.com/privacy-policy" data-v-19099801="">https://omtch.com/privacy-policy</a></strong> (c) you will have two-way authentication login for any third-party service used to access the Service, e.g. Facebook; (d) you will never use the same password for the OM TECH GROUP-connected Facebook account for any account or purpose outside of this Service; (e) you will keep your password to the third-party services (Facebook) confidential and not share them with anyone else; (f) you will immediately notify OM TECH GROUP of any unauthorized use of your account or breach of security in the third-party services (Facebook). OM TECH GROUP cannot and will not be liable for any loss or damage arising from your failure to comply with this section. </p><br><h1 data-v-19099801=""><strong data-v-19099801="">5. Submissions</strong></h1><p data-v-19099801=""> If you post material to the Site, or otherwise make (or allow any third party to make) material available by means of the Site (any such material, “User Content”), you are entirely responsible for the content of, and any harm resulting from, such User Content. That is the case regardless of whether your User Content constitutes text, graphics, an audio file, or computer software. </p><br><p data-v-19099801="">By making User Content available, you represent and warrant that:</p><br><p data-v-19099801=""></p><br><ul data-v-19099801=""><li data-v-19099801=""> Your User Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content; </li><li data-v-19099801=""> Your User Content is not spam and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing); </li><li data-v-19099801=""> You will post only User Content that is relevant to OM TECH GROUP and OM Network and at a rate and volume that does not hinder other Users' ability to use our platform; </li><li data-v-19099801=""> Your User Content is not libelous or defamatory, does not contain threats or incite violence towards individuals or entities, and does not violate the privacy or publicity rights of any third party. </li></ul><p data-v-19099801=""> By submitting User Content to OM TECH GROUP for inclusion on the Site, you grant OM TECH GROUP a world-wide, perpetual, royalty-free, and non-exclusive license to reproduce, modify, adapt, and publish your User Content in connection with the Site. You represent and warrant that (a) you own and control all of the rights to the User Content that you post or you otherwise have the right to post to the Site; (b) your User Content is accurate and not misleading; and (c) use and posting of your Content does not violate these Terms of Service and will not violate any rights of or cause injury to any person or entity. </p><br><p data-v-19099801=""> Without limiting any of these representations or warranties, OM TECH GROUP has the right (though not the obligation), in OM TECH GROUP's sole discretion, to terminate or deny access to and use of the Site to any individual or entity for any reason. </p><br><h1 data-v-19099801=""><strong data-v-19099801="">6. Acceptable Use</strong></h1><p data-v-19099801=""> Except as expressly provided in these Terms, you agree that you will not: (i) copy the Services or Content or any portion thereof; (ii) distribute, modify, adapt, translate, reverse engineer, decompile, disassemble, create derivative works based on, print any part of, or otherwise attempt to discover the source code, compiled executables, intermediate files, or underlying structure, ideas, know-how or algorithms relating in any way to the Services or Content; (iii) use the Services to send or store infringing, obscene, threatening, libelous, or otherwise unlawful material, including material that violates third party rights; (vi) use the Services to create, use, send, store, or run material containing software viruses, worms, Trojan horses or otherwise engage in any malicious act or disrupt the security, integrity or operation of the Services; (vii) use the Services in any manner that violates any applicable foreign, federal, state or local law, rule or regulation; (viii) use the Services in any manner that violates any third party rights or the terms of this Agreement; (ix) use scripting, computer programs or third-party scripting services to create fake accounts, to receive OM rewards intended for accounts held by real human beings, or spam the chat rooms on the Site; (x) sell or transfer user accounts to another individual or entity; or (xi) participate in the sale of OM unauthorized by OM TECH GROUP or its affiliates. The violation of these terms may result in OM TECH GROUP, in OM TECH GROUP's sole discretion, terminating or denying access to and use of the Site, freezing accounts, removing or canceling previously awarded OM of any individual or entity. </p><br><h1 data-v-19099801=""><strong data-v-19099801="">7. Representations, Warranties and Risks</strong></h1><p data-v-19099801=""><strong data-v-19099801="">7.1. Warranty Disclaimer</strong></p><br><p data-v-19099801=""> You expressly understand and agree that your use of the Service is at your sole risk. The Service and the Content are provided on an "AS IS" and "as available" basis, without warranties of any kind, either express or implied, including, without limitation, implied warranties of merchantability, fitness for a particular purpose or non-infringement. You acknowledge that OM TECH GROUP has no control over, and no duty to take any action regarding: which users gain access to or use the Service; what effects the Content may have on you; how you may interpret or use the Content; or what actions you may take as a result of having been exposed to the Content. You release OM TECH GROUP from all liability arising from your access to or use of the Service or the Content. OM TECH GROUP makes no representations concerning any Content contained in or accessed through the Service, and OM TECH GROUP will not be responsible or liable for the accuracy, copyright compliance, legality or decency of material contained in or accessed through the Service. </p><br><p data-v-19099801=""><strong data-v-19099801="">7.2 Sophistication and Risk of Cryptographic Systems</strong></p><br><p data-v-19099801=""> By utilizing the Service or interacting with the Content or platform in any way, you represent that you understand the inherent risks associated with cryptographic systems; and warrant that you have an understanding of the usage and intricacies of native cryptographic tokens, like Ether (ETH) and Bitcoin (BTC), smart contract based tokens such as those that follow the Ethereum Token Standard (<strong data-v-19099801=""><a href="https://eips.ethereum.org/EIPS/eip-20" data-v-19099801="">https://eips.ethereum.org/EIPS/eip-20</a></strong>), and blockchain-based software systems. </p><br><p data-v-19099801=""><strong data-v-19099801="">7.3 Risk of Regulatory Actions in One or More Jurisdictions</strong></p><br><p data-v-19099801=""> OM TECH GROUP and the crypto assets you store on OM TECH GROUP could be impacted by one or more regulatory inquiries or regulatory action, which could impede or limit the ability of OM TECH GROUP to continue to develop, or which could impede or limit your ability to access or use, the Service. </p><br><p data-v-19099801=""><strong data-v-19099801="">7.4 Risk of Weaknesses or Exploits in the Field of Cryptography</strong></p><br><p data-v-19099801=""> You acknowledge and understand that Cryptography is a progressing field. Advances in code cracking or technical advances such as the development of quantum computers may present risks to cryptocurrencies, the Services or the Content, which could result in the theft or loss of your cryptographic tokens or property. To the extent possible, OM TECH GROUP intends to update the protocol underlying Services to account for any advances in cryptography and to incorporate additional security measures. OM TECH GROUP does not guarantee or otherwise represent full security of the system. By using the Service or accessing Content, you acknowledge these inherent risks. </p><br><p data-v-19099801=""><strong data-v-19099801="">7.5 Volatility of Crypto Currencies</strong></p><br><p data-v-19099801=""> You understand that Ethereum and other blockchain technologies and associated currencies or tokens are highly volatile due to many factors including but not limited to adoption, speculation, technology and security risks. You also acknowledge that after the Mainnet of OM becomes live or OM is listed in exchanges, OM will be of similar volatility and subject to the same factors faced by other cryptocurrencies. You also acknowledge that the cost of transacting on such technologies is variable and may increase at any time causing impact to any activities taking place on the blockchains. You acknowledge these risks and represent that OM TECH GROUP cannot be held liable for such fluctuations or increased costs. </p><br><p data-v-19099801=""><strong data-v-19099801="">7.6 Application Security</strong></p><br><p data-v-19099801=""> You acknowledge that blockchain applications are code subject to flaws and acknowledge that you are solely responsible for evaluating any code provided by the Services or Content and the trustworthiness of any third-party websites, products, smart-contracts, or Content you access or use through the Service. You further expressly acknowledge and represent that blockchain applications can be written maliciously or negligently, that OM TECH GROUP cannot be held liable for your interaction with such applications and that such applications may cause the loss of property or even identity. This warning and others later provided by OM TECH GROUP in no way evidence or represent an on-going duty to alert you to all of the potential risks of utilizing the Service or Content. </p><br><h1 data-v-19099801=""><strong data-v-19099801="">8. Indemnity</strong></h1><p data-v-19099801=""> You agree to release and to indemnify, defend and hold harmless OM TECH GROUP and its parents, subsidiaries, affiliates and agencies, as well as the officers, directors, employees, shareholders and representatives of any of the foregoing entities, from and against any and all losses, liabilities, expenses, damages, costs (including attorneys' fees and court costs), claims or actions of any kind whatsoever arising or resulting from your use of the Service other than as expressly authorized by and pursuant to the terms of these Terms of Service, your violation of these Terms of Service, and any of your acts or omissions that implicate publicity rights, defamation or invasion of privacy. OM TECH GROUP reserves the right, at its own expense, to assume exclusive defense and control of any matter otherwise subject to indemnification by you and, in such case, you agree to cooperate with OM TECH GROUP in the defense of such matter. </p><br><h1 data-v-19099801=""><strong data-v-19099801="">9. Limitation of Liability</strong></h1><p data-v-19099801=""> YOU ACKNOWLEDGE AND AGREE THAT YOU ASSUME FULL RESPONSIBILITY FOR YOUR USE OF THE SITE AND SERVICE. YOU ACKNOWLEDGE AND AGREE THAT ANY INFORMATION YOU SEND OR RECEIVE DURING YOUR USE OF THE SITE AND SERVICE MAY NOT BE SECURE AND MAY BE INTERCEPTED OR LATER ACQUIRED BY UNAUTHORIZED PARTIES. YOU ACKNOWLEDGE AND AGREE THAT YOUR USE OF THE SITE AND SERVICE IS AT YOUR OWN RISK. RECOGNIZING SUCH, YOU UNDERSTAND AND AGREE THAT, TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, NEITHER OM TECH GROUP NOR ITS SUPPLIERS OR LICENSORS WILL BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, PUNITIVE, EXEMPLARY OR OTHER DAMAGES OF ANY KIND, INCLUDING WITHOUT LIMITATION DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER TANGIBLE OR INTANGIBLE LOSSES OR ANY OTHER DAMAGES BASED ON CONTRACT, TORT, STRICT LIABILITY OR ANY OTHER THEORY (EVEN IF OM TECH GROUP HAD BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM THE SITE OR SERVICE; THE USE OR THE INABILITY TO USE THE SITE OR SERVICE; UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SITE OR SERVICE; ANY ACTIONS WE TAKE OR FAIL TO TAKE AS A RESULT OF COMMUNICATIONS YOU SEND TO US; HUMAN ERRORS; TECHNICAL MALFUNCTIONS; FAILURES, INCLUDING PUBLIC UTILITY OR TELEPHONE OUTAGES; OMISSIONS, INTERRUPTIONS, LATENCY, DELETIONS OR DEFECTS OF ANY DEVICE OR NETWORK, PROVIDERS, OR SOFTWARE (INCLUDING, BUT NOT LIMITED TO, THOSE THAT DO NOT PERMIT PARTICIPATION IN THE SERVICE); ANY INJURY OR DAMAGE TO COMPUTER EQUIPMENT; INABILITY TO FULLY ACCESS THE SITE OR SERVICE OR ANY OTHER WEBSITE; THEFT, TAMPERING, DESTRUCTION, OR UNAUTHORIZED ACCESS TO, IMAGES OR OTHER CONTENT OF ANY KIND; DATA THAT IS PROCESSED LATE OR INCORRECTLY OR IS INCOMPLETE OR LOST; TYPOGRAPHICAL, PRINTING OR OTHER ERRORS, OR ANY COMBINATION THEREOF; OR ANY OTHER MATTER RELATING TO THE SITE OR SERVICE. </p><br><p data-v-19099801=""> SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU. </p><br><p data-v-19099801=""> OM TECH GROUP assumes no responsibility, and shall not be liable for, any damages to, or viruses that may infect, your computer, telecommunication equipment, or other property caused by or arising from your access to, use of, or browsing the Site or your downloading of any materials, from the Site. </p><br><h1 data-v-19099801=""><strong data-v-19099801="">10. Our Proprietary Rights</strong></h1><p data-v-19099801=""> The Site, the Service, all functionality of the Site and Service, and all Content and all intellectual property are owned by OM TECH GROUP or its licensors. You acknowledge and agree that the Service contains proprietary and confidential information that is protected by applicable intellectual property and other laws. Except as expressly authorized by OM TECH GROUP, you agree not to copy, modify, rent, lease, loan, sell, distribute, perform, display or create derivative works based on the Service or Content, in whole or in part.<br data-v-19099801="">The trademarks OM TECH GROUP, OM, OM NETWORK and the OM Design (the "Trademarks) are trademarks of OM TECH GROUP and its parent, OM Community Company. You may not use the trademarks without the prior written permission of OM TECH GROUP. Any permitted use of the Trademarks must be pursuant to and in compliance with the OM Trademark Guidelines, located at <a href="#" data-v-19099801="">omtch.com</a>. </p><br><h1 data-v-19099801=""><strong data-v-19099801="">11. Links</strong></h1><p data-v-19099801=""> The Service provides, or third parties may provide, links to other World Wide Web or accessible sites, applications or resources. Because OM TECH GROUP has no control over such sites, applications and resources, you acknowledge and agree that OM TECH GROUP is not responsible for the availability of such external sites, applications or resources, and does not endorse and is not responsible or liable for any content, advertising, products or other materials on or available from such sites or resources. You further acknowledge and agree that OM TECH GROUP shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such site or resource. </p><br><h1 data-v-19099801=""><strong data-v-19099801="">12. Termination and Suspension</strong></h1><p data-v-19099801=""> OM TECH GROUP, in OM TECH GROUP's sole discretion, may terminate or suspend all or part of the Service and your OM TECH GROUP access immediately, without prior notice or liability, if you breach any of the terms or conditions of the Terms. Upon termination of your access, your right to use the Service will immediately cease. </p><br><p data-v-19099801=""> If you have passed the OM KYC and received the OM cryptocurrency in your Mainnet wallet on the OM Mainnet Blockchain (Migrated OM), in the event that you request for account deletion and termination of services, you will be required to return all your Migrated OM and destroy your OM Mainnet wallet before your OM user account can be deleted. All Migrated OM must be verified through KYC and linked to your account and KYC information as required by law. </p><br><p data-v-19099801=""> The following provisions of the Terms survive any termination of these Terms:<br data-v-19099801="">INDEMNITY; WARRANTY DISCLAIMERS; LIMITATION OF LIABILITY; OUR PROPRIETARY RIGHTS; LINKS; TERMINATION; NO THIRD PARTY BENEFICIARIES; BINDING ARBITRATION AND CLASS ACTION WAIVER; GENERAL INFORMATION. </p><br><h1 data-v-19099801=""><strong data-v-19099801="">13. No Third Party Beneficiaries</strong></h1><p data-v-19099801=""> You agree that, except as otherwise expressly provided in these Terms, there shall be no third party beneficiaries to the Terms. </p><br><h1 data-v-19099801=""><strong data-v-19099801="">14. Notice and Procedure For Making Claims of Copyright Infringement</strong></h1><p data-v-19099801=""> If you believe that your copyright or the copyright of a person on whose behalf you are authorized to act has been infringed on the Site, please provide OM TECH GROUP's Copyright Agent a written Notice containing the following information: </p><br><ul data-v-19099801=""><li data-v-19099801=""> an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest; </li><li data-v-19099801=""> a description of the copyrighted work or other intellectual property that you claim has been infringed; </li><li data-v-19099801=""> a description of where the material that you claim is infringing is located on the Service; </li><li data-v-19099801="">your address, telephone number, and email address;</li><li data-v-19099801=""> a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; </li><li data-v-19099801=""> a statement by you, made under penalty of perjury, that the above information in your Notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner's behalf. </li></ul><p data-v-19099801=""> OM TECH GROUP's Copyright Agent is:<br data-v-19099801="">OM Tech Fan<br data-v-19099801=""><a href="mailto:cs@omtch.com" data-v-19099801="">cs@omtch.com</a></p><br><h1 data-v-19099801=""><strong data-v-19099801="">15. Binding Arbitration and Class Action Waiver</strong></h1><p data-v-19099801=""> PLEASE READ THIS SECTION CAREFULLY – IT MAY SIGNIFICANTLY AFFECT YOUR LEGAL RIGHTS, INCLUDING YOUR RIGHT TO FILE A LAWSUIT IN COURT </p><br><p data-v-19099801=""><strong data-v-19099801="">15.1 Initial Dispute Resolution</strong></p><br><p data-v-19099801=""> The parties shall use their best efforts to engage directly to settle any dispute, claim, question, or disagreement and engage in good faith negotiations which shall be a condition to either party initiating a lawsuit or arbitration. </p><br><p data-v-19099801=""><strong data-v-19099801="">15.2 Binding Arbitration</strong></p><br><p data-v-19099801=""> If the parties do not reach an agreed upon solution within a period of 30 days from the time informal dispute resolution under the Initial Dispute Resolution provision begins, then either party may initiate binding arbitration as the sole means to resolve claims, subject to the terms set forth below. Specifically, all claims arising out of or relating to these Terms (including their formation, performance and breach), the parties' relationship with each other and/or your use of the Service shall be finally settled by binding arbitration administered by the American Arbitration Association in accordance with the provisions of its Commercial Arbitration Rules and the supplementary procedures for consumer related disputes of the American Arbitration Association (the "AAA"), excluding any rules or procedures governing or permitting class actions. </p><br><p data-v-19099801=""> The arbitrator, and not any federal, state or local court or agency, shall have exclusive authority to resolve all disputes arising out of or relating to the interpretation, applicability, enforceability or formation of these Terms, including, but not limited to any claim that all or any part of these Terms are void or voidable, or whether a claim is subject to arbitration. The arbitrator shall be empowered to grant whatever relief would be available in a court under law or in equity. The arbitrator's award shall be written, and binding on the parties and may be entered as a judgment in any court of competent jurisdiction. </p><br><p data-v-19099801=""> The parties understand that, absent this mandatory provision, they would have the right to sue in court and have a jury trial. They further understand that, in some instances, the costs of arbitration could exceed the costs of litigation and the right to discovery may be more limited in arbitration than in court. </p><br><p data-v-19099801=""><strong data-v-19099801="">15.3 Location</strong></p><br><p data-v-19099801=""> Binding arbitration shall take place in California. You agree to submit to the personal jurisdiction of any federal or state court in San Mateo County, California, in order to compel arbitration, to stay proceedings pending arbitration, or to confirm, modify, vacate or enter judgment on the award entered by the arbitrator. </p><br><p data-v-19099801=""><strong data-v-19099801="">15.4 Class Action Waiver</strong></p><br><p data-v-19099801=""> The parties further agree that any arbitration shall be conducted in their individual capacities only and not as a class action or other representative action, and the parties expressly waive their right to file a class action or seek relief on a class basis. YOU AND OM TECH GROUP AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. If any court or arbitrator determines that the class action waiver set forth in this paragraph is void or unenforceable for any reason or that an arbitration can proceed on a class basis, then the arbitration provision set forth above shall be deemed null and void in its entirety and the parties shall be deemed to have not agreed to arbitrate disputes. </p><br><p data-v-19099801=""><strong data-v-19099801="">15.5 Exception - Litigation of Intellectual Property and Small Claims Court Claims</strong></p><br><p data-v-19099801=""> Notwithstanding the parties' decision to resolve all disputes through arbitration, either party may bring an action in state or federal court to protect its intellectual property rights ("intellectual property rights" means patents, copyrights, moral rights, trademarks, and trade secrets, but not privacy or publicity rights). Either party may also seek relief in a small claims court for disputes or claims within the scope of that court's jurisdiction. </p><br><p data-v-19099801=""><strong data-v-19099801="">15.6 30-Day Right to Opt Out</strong></p><br><p data-v-19099801=""> You have the right to opt-out and not be bound by the arbitration and class action waiver provisions set forth above via email at <strong data-v-19099801="">cs@omtch.com</strong>. The notice must be sent within 30 days of your first use of the Service, whichever is later, otherwise you shall be bound to arbitrate disputes in accordance with the terms of those paragraphs. If you opt-out of these arbitration provisions, OM TECH GROUP also will not be bound by them. </p><br><p data-v-19099801=""><strong data-v-19099801="">15.7 Changes to this Section</strong></p><br><p data-v-19099801=""> OM TECH GROUP will provide 60-days' notice of any changes to this section. Changes will become effective on the 60th day, and will apply prospectively only to any claims arising after the 60th day. </p><br><p data-v-19099801=""> For any dispute not subject to arbitration you and OM TECH GROUP agree to submit to the personal and exclusive jurisdiction of and venue in the federal and state courts located in California. You further agree to accept service of process by mail, and hereby waive any and all jurisdictional and venue defenses otherwise available. </p><br><p data-v-19099801=""> The Terms and the relationship between you and OM TECH GROUP shall be governed by the laws of the State of California without regard to conflict of law provisions. </p><br><h1 data-v-19099801=""><strong data-v-19099801="">16. General Information</strong></h1><p data-v-19099801=""><strong data-v-19099801="">16.1 Entire Agreement</strong></p><br><p data-v-19099801=""> These Terms (and any additional terms, rules and conditions of participation that OM TECH GROUP may post on the Site) constitute the entire agreement between you and OM TECH GROUP with respect to the Service and supersedes any prior agreements, oral or written, between you and OM TECH GROUP. In the event of a conflict between these Terms and the additional terms, rules and conditions of participation, the latter will prevail over the Terms to the extent of the conflict. </p><br><p data-v-19099801=""><strong data-v-19099801="">16.2 Waiver and Severability of Terms</strong></p><br><p data-v-19099801=""> The failure of OM TECH GROUP to exercise or enforce any right or provision of the Terms shall not constitute a waiver of such right or provision. If any provision of the Terms is found by an arbitrator or court of competent jurisdiction to be invalid, the parties nevertheless agree that the arbitrator or court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of the Terms remain in full force and effect. </p><br><p data-v-19099801=""><strong data-v-19099801="">16.5 Governing Law</strong></p><br><p data-v-19099801=""> This Agreement is governed by California law, without regard to conflicts of law principles. The exclusive jurisdiction and venue for disputes under or relating to the Agreement are the federal and state courts in San Francisco, California. You consent to jurisdiction and venue in such courts. </p><br><p data-v-19099801=""><strong data-v-19099801="">16.6 Statute of Limitations</strong></p><br><p data-v-19099801=""> You agree that any claim or cause of action arising out of or related to the use of the Service or the Terms must be filed within one (1) year after such claim or cause of action arose, or another period as provided under statute or law, or be forever barred. </p><br><p data-v-19099801=""><strong data-v-19099801="">16.7 Entire Agreement</strong></p><br><p data-v-19099801=""> This Agreement contains the complete and entire understanding between you and Us regarding your access to and use of the Services. The Agreement supersedes all prior agreements between you and Us regarding Your access to and use of the Services. </p><br><p data-v-19099801=""><strong data-v-19099801="">16.8 Section Titles</strong></p><br><p data-v-19099801=""> The section titles in this Agreement are for convenience only and have no legal or contractual effect. </p><br><p data-v-19099801=""><strong data-v-19099801="">16.9 Communications</strong></p><br><p data-v-19099801=""> Users with questions, complaints or claims with respect to the Site or Service may contact us using the relevant contact information set forth above. </p><br><h1 data-v-19099801=""><strong data-v-19099801="">17. In-App Transfers</strong></h1><p data-v-19099801=""> If you’re enabled to perform in-app transfers in our mobile applications, you also agree to the additional terms and conditions below. </p><br><ul data-v-19099801=""><li data-v-19099801=""> You agree not to offer any sales of OM or any derivatives of those units (e.g., “futures”) by you for other currencies prior to the launch of OM Network’s mainnet. </li><li data-v-19099801=""> You agree that you and only you are the exclusive holder of this account and the units of OM associated with your account and that you will not transfer your account to another individual, group, or organization. </li><li data-v-19099801=""> You agree not to engage in any illicit and / or illegal transactions using OM. </li></ul><p data-v-19099801=""> Violation of any of these terms may result in the invalidation of your account and cancellation of your full balance, including any units of OM that have ever been transferred from your account. You agree that you assume full responsibility in the case of the invalidation of your account and in case of the cancellation of your OM balance and that OM TECH GROUP, OM Network and its developers shall bear no liability if your account is invalidated, your balance is cancelled, or if any transferred units of OM have been cancelled. </p><br></div>
      `
    }
  },
  mounted() {
    setTimeout(() => {
      this.fnMountedTextCharacter('.letter-character-1')
      this.fnMountedCard('.content-translate-page', 0.25)
    }, 100)
  },
  methods: {
    fnConvertTextCharacter,
    fnMountedTextCharacter,
    fnMountedCard
  }
}
</script>
<style scoped lang="scss">
::v-deep h1{
  line-height: 150%;
  padding: 20px 0;
  @media only screen and (max-width: 767px) {
    font-size: 18px !important;
  }
}
::v-deep strong{
  font-size: 18px !important;
  line-height: 150%;
  @media only screen and (max-width: 767px) {
    font-size: 18px !important;
  }
}
::v-deep strong a{
  font-weight: 400;
  font-size: 18px;
  @media only screen and (max-width: 767px) {
    font-size: 14px !important;
  }
}
::v-deep strong a:hover{
  color: #FFB901FF;
}
::v-deep p{
  font-size: 18px;
  line-height: 150%;
  @media only screen and (max-width: 767px) {
    font-size: 14px !important;
  }
}
::v-deep ul li{
  font-size: 18px;
  line-height: 150%;
  @media only screen and (max-width: 767px) {
    font-size: 14px !important;
  }
}
.wrapper-network {
  background: #181A20;
  position: relative;

  .main-content {
    max-width: 1166px;
  }
}


</style>
