<template>
  <div class="wrapper-network relative w-full px-4 sm:px-8 md-h:px-16 lg-h:px-16 xl:px-0">
    <div class="main-content">
      <h2
        class="
        text-center
        capitalize md:uppercase pt-[64px] md:pt-[163px] xl:pt-[163px] pb-8 md:pb-[72px]
        xl:pb-[72px] px-4 md:px-16 lg:px-8 xl-h:px-0"
        v-html="fnConvertTextCharacter(`Omega Network Testnet`, `color-primary uppercase font-bold text-[20px] md:text-5xl`, `letter-character-1`)"
      />
      <div class="content w-full flex flex-wrap lg-l:justify-between items-center">
        <div class="relative wrapper-image w-full lg-l:w-[400px] h-[426px] content-translate-page">
          <div class="w-fit overflow-hidden">
            <img style="opacity: 0;" class="" src="@/assets/images/group-network.svg" alt="group-block-two-1">
            <div class="layer-testnet absolute top-0 left-auto lg:left-0 w-fit h-full">
              <img class=" _layer-testnet_2-0" src="@/assets/images/group-network.svg" alt="group-block-two-1">
              <img class="absolute _layer-testnet_2-1 z-2" src="@/assets/images/img-testnet.svg" alt="">
              <img class="absolute top-0 left-0 _layer-testnet_2-2 z-10" src="@/assets/images/group-network.svg" alt="">
            </div>
          </div>
        </div>
        <div class="w-full lg-l:w-[calc(100%-500px)]">
          <div class="list-text text-white mb-6">
            <ul class="list-disc font-bold pl-[20px]">
              <li class="text-[20px] line-height-150 content-translate-page">
                Network name: Omega Testnet
              </li>
              <li class="text-[20px] line-height-150 content-translate-page">
                New RPC URL: https://test-rpc.omtch.com/
              </li>
              <li class="text-[20px] line-height-150 content-translate-page">
                Chain ID: 816
              </li>
              <li class="text-[20px] line-height-150 content-translate-page">
                Currency symbol: OMN
              </li>
              <li class="text-[20px] line-height-150 content-translate-page">
                Explorer: https://test-explorer.omtch.com/
              </li>
            </ul>
          </div>
          <div class="font-bold text-[20px] text-white line-height-150 mb-6 content-translate-page">
            In preparation for the upcoming launch of Omega Mainnet, a testnet has been established to incentivize user
            participation and ensure a successful mainnet launch. The most active users on the testnet will be rewarded
            for their contributions.
          </div>
          <div class="w-full flex justify-center items-center content-translate-page">
            <a class="btn-primary" href="https://mirror.xyz/0x0ce990b52FEBAf0ee0b6ceD1eC695D0F49BF8440/96-P-SOlEulTlkvmjDgkK_15hPmzp5mXnP61H_1_JWM" target="_blank">
              <span class="font-semibold text-black text-base">See User Guide</span>
              <img src="@/assets/images/arrow-right-pro.svg" alt="arrow-right-pro">
            </a>
          </div>
        </div>
      </div>
      <div class="h-[100px] lg-l:h-[200px]" />
    </div>
  </div>
</template>
<script>
import { fnConvertTextCharacter, fnMountedCard , fnMountedTextCharacter} from '~/utils/base'

export default {
  mounted () {
    setTimeout(() => {
      this.fnMountedTextCharacter('.letter-character-1')
      this.fnMountedCard('.content-translate-page', 0.25)
    }, 100)
  },
  methods: {
    fnConvertTextCharacter,
    fnMountedTextCharacter,
    fnMountedCard
  }
}
</script>
<style scoped lang="scss">
.wrapper-network {
  background: #181A20;
  position: relative;

  .main-content {
    max-width: 1166px;
  }
}

.wrapper-network:after {
  position: absolute;
  content: "";
  background-image: url("@/assets/images/text-network.svg");
  width: 887px;
  height: 235px;
  left: calc(50% - 887px / 2 + 0.5px);
  top: 57px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;

  @media only screen and (max-width: 1365px) {
    top: 50px;
    width: 80vw;
    left: calc(50% - 80vw / 2 + 0.5px);
  }
  @media only screen and (max-width: 720px) {
    height: calc(100px);
    top: 37px;
  }
}
</style>
